.carousel-inner {
    height: 350px;
    
}

button.btn.btn-outline-success {
    margin-right: 6px;
}


/* Top Header*/

.top-header {
    height: 50px;
    background-color: #fffafa;
}

.top-header .contact-info{
    padding-top: 10px;
    width: 50%;
    float: left;

}

li.contact {
    display: inline-block;
    vertical-align: top;
}

.top-header li {
    color: #999;
    font-size: 14px;
    padding-right: 25px;
}

i.fa-solid.fa-phone {
    margin-right: 4px;
}

ul {
    list-style-type:none;
}

.top-header .my-account-info {
    float: left;
    width: 50%;
}

li.cart {
    color: #999;
    font-size: 14px;
    padding-right: 25px;
}

img.lorem-1 {
    width: 20%;
    margin-top: -318px;
    position: relative;
    left: 953px;
}

.divide {
    background-image: url(../../../assets/img/hr-line.png);
    width: 80%;
    height: 25px;
    position: absolute;
    right: 200px;
}

h2.title {
    text-align: center;
    padding: 20px;
}
